.container {
  display: flex;
  flex-direction: column;

  gap: 16px;
  padding: 12px 12px 24px;
  border-radius: 8px;

  background: var(--color-shadow-primary);
}

.cards {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
