:root {
  --color-primary: #d92929;
  --color-secondary: #798897;

  --color-shadow-primary: #faf4f4;

  --color-stroke: #00000010;

  --color-text-primary: #000000;
  --color-text-secondary: #594949;
}
