.container {
  display: flex;
  flex: 1;
  position: relative;

  padding: 40px 24px 24px 24px;
  border-radius: 20px;

  background: var(--color-shadow-primary);
}

.header {
  position: absolute;

  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
