.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  gap: 8px;
  padding: 24px;
  border-radius: 20px;

  background: var(--color-shadow-primary);
}

.value {
  font-size: 24px;
  font-weight: 700;
}

.stats {
  display: flex;
  align-items: center;

  gap: 16px;
}

.change {
  display: flex;
  align-items: center;

  gap: 8px;
}

.positive {
  color: var(--color-positive);
}

.negative {
  color: var(--color-negative);
}
