.container {
  display: flex;
  flex: 1;
  position: relative;

  padding: 40px 24px 24px 24px;
  border-radius: 20px;

  background: var(--color-shadow-primary);
}

.header {
  position: absolute;

  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.legend {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
}
