.container {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100vh;
  padding: 16px;

  border-right: 1px solid var(--color-stroke);
}
.link {
  display: flex;
  align-items: center;

  gap: 12px;
  padding: 12px 16px;

  color: var(--color-text-secondary);
}

.link:hover {
  border-radius: 12px;

  background: var(--color-shadow-primary);
}

.active {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: auto;
  }

  .link span {
    display: none;
  }
}
