.container {
  cursor: pointer;
  align-self: center;

  padding: 8px;
  border-radius: 32px;

  border: 1px solid var(--color-primary-light);
  color: var(--color-primary);
}

.container:hover {
  background: var(--color-primary-light);
}
